<h1>問い合わせ内容の確認</h1>

<%= render 'layouts/error_messages', resource: @contact %>

	<%= form_for @contact, url: contacts_path do |f| %>
		<p>
	        <%= f.label :タイトル %>
	        <%= f.text_field :title, class:"form-control" %>
	    </p>
	    <p>
	        <%= f.label :お問い合わせ内容 %>
	        <%= f.text_area :body, rows:'10', class:"form-control" %>
	    </p>
	    <p><%= f.submit "送信する", class: "btn btn-primary" %></p>
    <% end %>

</div>

