<div class="row">
	<h2 class="title">問い合わせ内容 <small><%= @contact.created_at.strftime("%Y年%m月%d日 ") %>問い合わせ</small> <%= link_to '一覧に戻る', :back, class: "btn btn-default" %></h2>
	<div class="row">
		<h4 class= "col-sm-3">タイトル</h4>
	    <h4 class="col-sm-4"><%= @contact.title %></h4>
	</div>

	<div class="row">
	    <h4 class="col-sm-12">問い合わせ内容</h4>
	    <p>　　<%= @contact.body %></p>
	</div>

	<div class="row">
	    <h4 class="col-sm-12">回答内容</h4>
	    <p>
	    	<% if @contact.reply.nil? %>
		        　　回答がまだ届いておりません。
		    <% end %>
	    <br>　　<%= @contact.reply %></p>
	</div>
</div>