<div class="row">
	<h2>問い合わせ内容</h2><hr>
	<div class="row">
		<h4>タイトル：<%= @contact.title %>　
	    問い合わせ日：<%= @contact.created_at.strftime("%Y年%m月%d日 ") %></h4>
	</div>
	<div class="row">
	    <h4>問い合わせ内容：</h4>
	    <p><%= @contact.body %></p>
	</div>
	<div class="row">
	    <h4>回答内容：</h4>
	    <p>
	    	<% if @contact.reply.nil? %>
		        回答がまだ届いておりません。
		    <% end %>
	    <br><%= @contact.reply %></p>
	</div>

    <p><%= link_to '一覧に戻る', :back %><p>
</div>