<!-- 投稿一覧 => index/top/liked/show-->
<% posts.each do |post| %>
	<div class="col-md-3">
		<%= link_to post_path(post) do %>
			<%= attachment_image_tag post, :image, format: "jpeg", fallback: "sample.jpg", size:"240x200" %>
		<% end %>
		<h5><%= post.title %></h5>
		<hr>
		<p>
			<%= attachment_image_tag post.user, :image, format: "jpeg", fallback: "no_image.jpg", size: "20x20" %>
			<span><%= post.user.name %></span>

			<!-- いいね機能 -->
			<span class="favorite-<%= post.id %>">
				<%= render 'public/favorites/favorite', post: post %>
	        </span>
	    </p>
	    <span class="post-prefecture"><%= link_to post.prefecture.name, posts_path(prefecture_id: post.prefecture.id)  %></span>
		<span class="post-genre"><%= link_to post.genre.name, posts_path(genre_id: post.genre.id) %></span>
	</div>
<% end %>



