<h2>編集する</h2>
<%= render 'layouts/error_messages', resource: @post %>

<%= form_for(@post, url: post_path(@post)) do |f| %>
<div class="row">
	<div class="col-md-5 col-sm-12">
		<span class="image">
			<p><%= attachment_image_tag @post, :image, format: 'jpeg', fallback: "sample.jpg", width:'100%', height: '100%' %>
			</p>
			<p><%= f.attachment_field :image %></p>
		</span>
	</div>

	<div class="col-md-7 col-sm-12">
		<div class="row">
			<table class="col-xs-12">
				<tbody>
					<tr>
						<td><%= f.label :タイトル %> 
							<span class="label label-default">必須</span> </td>
						<td><%= f.text_field :title, class: "form-control" %></td>
					</tr>
					<tr>
						<td><%= f.label :ジャンル %> 
							<span class="label label-default">必須</span> </td>
						<td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
					</tr>
					<tr>
						<td><%= f.label :都道府県 %> 
							<span class="label label-default">必須</span> </td>
						<td><%= f.collection_select :prefecture_id, Prefecture.all, :id, :name%></td>
					</tr>
					<tr>
			          <td><%= f.label :postal_code, "郵便番号" %></td>
			          <td><%= f.text_field :postal_code, class: "form-control" %></td>
			        </tr>
			        <tr>
			          <td><%= f.label :address, "住所" %></td>
			          <td><%= f.text_field :address, collection: JpPrefecture::Prefecture.all, :value_method => :name, class: "form-control" %></td>
			        </tr>
					<tr>
						<td><%= f.label :タグ %></td>
						<td><%= f.text_field :tag_ids,value: @tag_list,  class: "form-control", placeholder: "タグをつける。複数つけるには','で区切ってください。"%></td>
					</tr>
					<tr>
						<td><%= f.label :説明 %> 
							<span class="label label-default">必須</span> </td>
						<td><%= f.text_area :body, class: "form-control" %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<!-- visionApi タグの提案 -->
	<div class="col-sm-offset-5 col-sm-4">
		<% if @post.image.present? %>
		    <p class="alert alert-warning"><strong>おすすめのタグ</strong><br>
		    	（例）
		    	<% @label.each do |label| %>
			    	<%= label %>,
				 <% end %>
		    </p>
		<% end %>
	</div>
	<div class="col-sm-3">
		<p><%= link_to '戻る', :back, class: "btn btn-default" %>　
			<%= f.submit '更新する', class: "btn btn-primary" %>　</p>
	</div>
</div>
<% end %>




