<!-- SIDEBAR -->
<div>
	<%= render 'layouts/sidebar', {genres: @s_genres, tags: @s_tags, areas: @s_areas} %>
</div>

<h2>最近見た投稿 <i class="fas fa-history"></i></h2>
<% @histories.each do |history| %>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<%= link_to post_path(history.post) do %>
			<%= attachment_image_tag history.post, :image, format: "jpeg", fallback: "sample.jpg", size:"240x200" %>
		<% end %>
		<h4><%= history.post.title %></h4>
		<hr>
		<p>
			<%= attachment_image_tag history.post.user, :image, format: "jpeg", fallback: "no_image.jpg", size: "20x20" %>
			<span><%= history.post.user.name %></span>

			<!-- いいね機能 -->
			<span class="favorite-<%= history.post.id %>">
				<%= render 'public/favorites/favorite', post: history.post %>
	        </span>
	    </p>
	    <span class="post-prefecture"><%= link_to history.post.prefecture.name, posts_path(prefecture_id: history.post.prefecture.id)  %></span>
		<span class="post-genre"><%= link_to history.post.genre.name, posts_path(genre_id: history.post.genre.id) %></span>
	</div>
<% end %>
<span id="back">
	<a href="#">
		<i class="fas fa-chevron-circle-up fa-4x"></i>
	</a>
</span>
</div>

