<% if params[:keyword] %>
	<h2><%= @keyword %>の検索結果：<%= @posts.count %>件ヒットしました</h2>
<% elsif params[:area_id] %>
	<h2><%= @area.name %>エリアの投稿一覧 (全<%= @all_posts_count %>件)</h2>
<% elsif params[:prefecture_id] %>
	<h2><%= @prefecture.name %>の投稿一覧 (全<%= @all_posts_count %>件)</h2>
<% elsif params[:genre_id]%>
    <h2><%= @genre.name %>の投稿一覧 (全<%= @all_posts_count %>件)</h2>
<% elsif params[:tag_id]%>
    <h2>#<%= @tag.name %>の投稿一覧 (全<%= @all_posts_count %>件)</h2>
<% else %>
	<h2>投稿一覧 (全<%= @all_posts_count %>件)</h2>
<% end %>

<!-- プルダウン並び替え -->
<div class="row">
	<%= form_tag(posts_path, method: :get) do %>
		<%= select_tag(:option, options_for_select([["新規投稿順", "1"],["古い投稿順","2"]])) %>
		<%= submit_tag '検索' %>
	<% end %>
</div>

<!-- Post#index -->
<%= render 'public/posts/index', posts: @posts %>
<p><%= link_to '戻る', :back %></p>

