<!-- SIDEBAR -->
<div>
	<%= render 'layouts/sidebar', {genres: @s_genres, tags: @s_tags, areas: @s_areas} %>
</div>
<h2 class="title">
<% if params[:keyword] %>
	<%= @post_search.keyword %>の検索結果：<%= @post_search.count %>件ヒットしました
<% elsif params[:area_id] %>
	<%= @post_search.area.name %>エリアの投稿一覧 (全<%= @post_search.count %>件)
<% elsif params[:prefecture_id] %>
	<%= @post_search.prefecture.name %>の投稿一覧 (全<%= @post_search.count %>件)
<% elsif params[:genre_id]%>
    <%= @post_search.genre.name %>の投稿一覧 (全<%= @post_search.count %>件)
<% elsif params[:tag_id]%>
    #<%= @post_search.tag.name %>の投稿一覧 (全<%= @post_search.count %>件)
<% else %>
	Articles<small>　記事一覧</small> (全<%= @post_search.count %>件)
<% end %>
</h2>

<!-- プルダウン並び替え -->
<div class="row">
	<%= form_tag(posts_path, method: :get) do %>
		<p><%= select_tag(:option, options_for_select([['新規投稿順', 'new'],['古い投稿順','old'],['人気の投稿順', 'likes']]), class: "btn btn-default") %>
		<%= submit_tag '検索', class: "btn btn-default btn-sm" %></p>
	<% end %>
</div>

<!-- Post#index -->
<div class="row">
	<%= render 'public/posts/index', posts: @post_search.posts %>
</div>
<div class="row">
	<%= paginate @post_search.posts %>
</div>

<span id="back">
	<a href="#">
		<i class="fas fa-chevron-circle-up fa-3x"></i>
	</a>
</span>

