<% if params[:keyword] %>
	<h2><%= @keyword %>の検索結果：<%= @posts.count %>件ヒットしました</h2>
<% elsif params[:area_id] %>
	<h2><%= @area.name %>エリアの投稿一覧 (全<%= @all_posts_count %>件)</h2>
<% elsif params[:prefecture_id] %>
	<h2><%= @prefecture.name %>の投稿一覧 (全<%= @all_posts_count %>件)</h2>
<% elsif params[:genre_id]%>
    <h2><%= @genre.name %>の投稿一覧 (全<%= @all_posts_count %>件)</h2>
<% else %>
	<h2">投稿一覧 (全<%= @all_posts_count %>件)</h2>
<% end %>

<!-- プルダウン並び替え -->
<div class="row">
	<%= form_tag(posts_path, method: :get) do %>
		<%= select_tag(:option, options_for_select([["新規投稿順", "1"],["古い投稿順","2"]])) %>
		<%= submit_tag '検索' %>
	<% end %>
</div>

<div class="row">
	<% @posts.each do |post| %>
		<div class="col-xs-4">
			<%= link_to post_path(post) do %>
				<%= attachment_image_tag post, :image, format: "jpeg", fallback: "no_image.jpg", size:"250x200" %>
			<% end %>
			<p><%= attachment_image_tag post.user, :image, :fill, 30, 30, fallback: "no_image.jpg", size: "30x30" %>
				<span>投稿者：<%= post.user.name %>
			</p>
			<p>タイトル：<%= post.title %>
				<span>
					<% if user_signed_in? %>
					    <!-- いいね機能 -->
			            <% if post.favorited_by?(current_user) %>
				            <%= link_to post_favorites_path(post), method: :delete do %>
				            <span class="glyphicon glyphicon-heart"></span>
				            <% end %>
			            <% else %>
				            <%= link_to post_favorites_path(post), method: :post do %>
				            <span class="glyphicon glyphicon-heart-empty"></span>
				            <% end %>
			            <% end %>
			        <% end %>
			        <span><%= post.favorites.count %>いいね</span>
		        </span>
		    </p>
		</div>
	<% end %>
	<p><%= link_to '戻る', :back %></p>
</div>
