<!-- SIDEBAR -->
<div>
	<%= render 'layouts/sidebar', {genres: @s_genres, tags: @s_tags, areas: @s_areas} %>
</div>

<% if params[:keyword] %>
	<h2><%= @post_search.keyword %>の検索結果：<%= @post_search.posts.count %>件ヒットしました</h2>
<% elsif params[:area_id] %>
	<h2><%= @post_search.area.name %>エリアの投稿一覧 (全<%= @post_search.posts.count %>件)</h2>
<% elsif params[:prefecture_id] %>
	<h2><%= @post_search.prefecture.name %>の投稿一覧 (全<%= @post_search.posts.count %>件)</h2>
<% elsif params[:genre_id]%>
    <h2><%= @post_search.genre.name %>の投稿一覧 (全<%= @post_search.posts.count %>件)</h2>
<% elsif params[:tag_id]%>
    <h2>#<%= @post_search.tag.name %>の投稿一覧 (全<%= @post_search.posts.count %>件)</h2>
<% else %>
	<h2>投稿一覧 (全<%= @post_search.posts.count %>件)</h2>
<% end %>

<!-- プルダウン並び替え -->
<div class="row">
	<%= form_tag(posts_path, method: :get) do %>
		<%= select_tag(:option, options_for_select([['新規投稿順', 'new'],['古い投稿順','old'],['人気の投稿順', 'likes']])) %>
		<%= submit_tag '検索' %>
	<% end %>
</div>

<!-- Post#index -->
<%= render 'public/posts/index', posts: @post_search.posts, post: @post %>
<p><%= link_to '戻る', :back %></p>

