<!-- SIDEBAR -->
<div>
	<%= render 'layouts/sidebar', {genres: @s_genres, tags: @s_tags, areas: @s_areas} %>
</div>

<h1>Let's Post!!</h1>
<p>地元や訪れた場所のお気に入り、印象に残っていること<br>
	あなたのお気に入りの場所、もの、<br>
	あなたしか知らない場所、<br>
	もしかしたら、、、あなたしか知らないことかもしれません<br>
	あなたがみんなに知ってほしいこと、なんでもいいので投稿してみましょう！！！
</p>

<%= form_for(@post, url: posts_path) do |f| %>
<%= render 'layouts/error_messages', resource: @post %>
<div class="row">

	<div class="col-xs-5">
		<div id="image">
			<span><%= f.attachment_field :image %></span>
			<%= attachment_image_tag @post, :image, format: 'jpeg', fallback: "sample.jpg", size:"350x300" %>
		</div>
	</div>

	<div class="col-xs-7">
		<div class="row">
			<table class="col-xs-12">
				<tbody>
					<tr>
						<td><%= f.label :タイトル %> 
							<span class="label label-default">必須</span> 
						</td>
						<td><%= f.text_field :title, class: "form-control"%></td>
					</tr>
					<tr>
						<td><%= f.label :ジャンル %> 
							<span class="label label-default">必須</span> 
						</td>
						<td><%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "選択してください"%></td>
					</tr>
					<tr>
						<td><%= f.label :都道府県 %> 
							<span class="label label-default">必須</span> 
						</td>
						<td><%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, :prompt => "選択してください"%></td>
					</tr>
					<tr>
			          <td><%= f.label :postal_code, "郵便番号" %></td>
			          <td><%= f.text_field :postal_code, class: "form-control" %></td>
			        </tr>
			        <tr>
			          <td><%= f.label :address, "住所" %></td>
			          <td><%= f.text_field :address, collection: JpPrefecture::Prefecture.all, :value_method => :name, class: "form-control" %></td>
			        </tr>
					<tr>
						<td><%= f.label :タグ %></td>
						<td><%= f.text_field :tag_ids, class: "form-control",placeholder: "タグをつける。複数つける場合は ,(コンマ)で区切ってください。" %></td>
					</tr>
					<tr>
						<td><%= f.label :説明 %> 
							<span class="label label-default">必須</span> 
						</td>
						<td><%= f.text_area :body, rows:'10', class: "form-control" %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="action">
	<p><%= link_to '戻る', :back, class: "btn btn-default" %>　
		<%= f.submit '投稿する', class: "btn btn-primary" %>　</p>
</div>
<% end %>








