<!-- SIDEBAR -->
<div>
	<%= render 'layouts/sidebar', {genres: @genres, tags: @tags, areas: @areas} %>
</div>


<h2><%= @post.title %></h2>
<div class="row">
	<div class="col-xs-5">
		<%= attachment_image_tag @post, :image, format: 'jpeg', fallback: "sample.jpg", size:"450x300" %>
		<p>投稿日 <%= @post.created_at.strftime("%Y/%m/%d") %>
		   更新日 <%= @post.updated_at.strftime("%Y/%m/%d ") %></p>
	</div>
	<div class="col-xs-5">
		<p>
	        <span class="post-prefecture"><%= link_to @post.prefecture.name, posts_path(prefecture_id: @post.prefecture.id)  %></span>
			<span class="post-genre"><%= link_to @post.genre.name, posts_path(genre_id: @post.genre.id) %></span>
		</p>

		<%= link_to user_path(@post.user) do %>
            <%= attachment_image_tag @post.user, :image, format: 'jpeg', fallback: "no_image.jpg", size: "30x30" %>
            <%= @post.user.name %>
        <% end %>

		<p><% @post.tags.each do |tag| %>
				#<%= link_to tag.name, posts_path(tag_id: tag.id) %>
			<% end %>
		</p>
		<p><%= @post.body %></p>
		<!-- いいね機能 -->
		<p class="favorite-<%= @post.id %>">
			<%= render 'public/favorites/favorite', post: @post %>
		</p>
    </div>

    <div class="col-xs-2">
        <!-- ユーザーの投稿編集・削除ボタン -->
        <% if @post.user == current_user %>
	        <p><%= link_to '投稿を編集する', edit_post_path(@post) %><br>
	        <%= link_to '投稿を削除する', @post, method: :delete, data: { confirm: '本当に消しますか？' } %></p>
	    <% end %>
	</div>

</div>

<!-- コメントフォーム -->
<% if user_signed_in? %>
	<div class="row">
		<h4>Comment Form</h4>
		<div id="comment-form<%= @post.id %>">
			<%= render 'public/posts/comment_form', {post: @post, post_comment: @post_comment} %>
		</div>
	</div>
<% end %>

<!-- コメント一覧 -->
<% if @post_comments.exists? %>
	<div class="row">
		<h4>コメント一覧</h4>
		<table id="comment_<%= @post.id %>">
			<%= render 'public/posts/comment', post_comments: @post_comments %>
		</table>
	</div>
<% end %>

