  <%= render "users/shared/error_messages", resource: resource %>
<div class="row">
  <h3 class="title">Log in ログイン</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-horizontal">
    <div class="form-group">
      <%= f.label :email, class: "col-sm-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "col-sm-4" %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-sm-2" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "col-sm-4" %>
    </div>

    <div class="form-group">
      <% if devise_mapping.rememberable? %>
        <%= f.label :　パスワードを記録する %>
        <%= f.check_box :remember_me %>　　
      <% end %>
      <%= f.submit "ログインする", class: "btn btn-primary" %>　
    </div>

    <div class="actions">
      <%= link_to 'ゲストログイン USER ', users_guest_sign_in_path, method: :post, class: "btn btn-default" %>　
    </div>
    <% end %>
  </div>
</div>
<div class="row">
    <%= render "users/shared/links" %>
</div>
