<%- if controller_name != 'sessions' %>
  <h3 class="title">Log In ログイン</h3>
  <p>登録済の方は、下記リンクよりログインください</p>
  <p>
    <%= link_to "ログイン Log In ", new_session_path(resource_name), class: "btn btn-default" %></p>
  
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <h3 class="title">Sign Up新規会員登録</h3>
  <p>会員登録がお済みでない方は、下記リンクより登録ください。<br>
	  会員になると、投稿やお気に入りの登録などが可能になります。</p>
  <p><%= link_to "新規登録　Sign up", new_registration_path(resource_name), class: "btn btn-default" %>　　
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>

  <%= link_to "パスワードをお忘れの方", new_password_path(resource_name), class: "btn btn-default" %>
</p>

<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end %>
<% end %>
