
	<!-- SIDEBAR -->
	<div>
		<%= render 'layouts/sidebar', {genres: @s_genres, tags: @s_tags, areas: @s_areas} %>
	</div>

    <!-- Main Visual -->
	<div class="swiper-container swiperTop">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide">
	        	<%= image_tag asset_path("matsuri.jpg")%>
	        </div>
	        <div class="swiper-slide"></div>
	        <div class="swiper-slide"></div>
	        <div class="swiper-slide"><%= image_tag asset_path("sea_cafeteria.jpg")%></div>
	        <div class="swiper-slide"></div>
	        <div class="swiper-slide"></div>
	        <div class="swiper-slide"></div>
	        <div class="swiper-slide"></div>
	    </div>
	</div>

	<div class="swiper-container">
		<h3>ようこそ 
			<% if user_signed_in? %>
				<%= current_user.name %>さん
			<% end %>
		</h3>
	</div>

	<div class="swiper-container swiperBottom">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide"><%= image_tag asset_path("machi.jpg")%></div>
	        <div class="swiper-slide"><%= image_tag asset_path("machi.jpg")%></div>
	    </div>
	</div>

	<h2>New Post</h2>
	<%= render 'public/posts/index', posts: @new_posts %>

	<h2>Popular Post</h2>
	<%= render 'public/posts/index', posts: @liked_posts %>

	<%= link_to posts_path do %>
	<div class="to_posts">
		もっとみる
	</div>
	<% end %>


