
	<!-- SIDEBAR -->
	<div>
		<div id="slide">
			<span class="nav-icon">
				<i class="fas fa-search"></i>
				<p>検索</p>
			</span>


			<div class="slide-inner">
				<div>
					<h5>
						<span><i class="fas fa-angle-double-right"></i></span>
						キーワードで探す
					</h5>
		            <%= form_tag(posts_path, method: :get) do %>
		                <%= text_field_tag :keyword, '', placeholder: "キーワードで検索" %>
		                <%= submit_tag '検索' %>
		            <% end %>
				</div>
				<div>
					<h5>
						<span><i class="fas fa-angle-double-right"></i></span>
						ジャンルから探す
					</h5>
					<% @genres.each do |genre| %>
						<%= link_to genre.name, posts_path(genre_id: genre.id) %>
					<% end %>
				</div>
				<div>
					<h5>
						<span><i class="fas fa-angle-double-right"></i></span>
						タグから探す
					</h5>
					<% @tags.each do |tag| %>
						#<%= link_to tag.name, posts_path(tag_id: tag.id) %>
					<% end %>
				</div>
				<div class="area">
					<h5>
						<span><i class="fas fa-angle-double-right"></i></span>
						エリア / 都道府県から探す
					</h5>
					<% @areas.each do |area| %>
						<p class="openBtn"><%= link_to area.name, posts_path(area_id: area.id) %>エリア
						</p>
						<p class="textArea">
							<% area.prefectures.each do |prefecture| %>
								<%= link_to prefecture.name, posts_path(prefecture_id: prefecture.id) %>
							<% end %>
						</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>


	
	<!-- Slider全体のコンテナ -->
	<div class="swiper-container">
	    <!-- Sliderのラッパー(各スライドを内包する箱みたいなイメージ) -->
	    <div class="swiper-wrapper">
	        <!-- Slideさせたいコンテンツ -->
	        <div class="swiper-slide">Slide 1</div>
	        <div class="swiper-slide">Slide 2</div>
	        <div class="swiper-slide">Slide 3</div>
	        <div class="swiper-slide">Slide 4</div>
	        <div class="swiper-slide">Slide 5</div>
	        <div class="swiper-slide">Slide 6</div>
	        <div class="swiper-slide">Slide 7</div>
	        <div class="swiper-slide">Slide 8</div>
	        <div class="swiper-slide">Slide 9</div>
	    </div>

		<div class="swiper-pagination"></div>

	</div>

	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
	    var mySwiper = new Swiper('.swiper-container', {
	    	spaceBetween: 10, //スライド毎の間隔
	    	slidesPerView: 6, //一度に表示するスライドの枚数
			autoplay: {
				delay: 3000, //速さ
				stopOnLastSlide: false, //最後までいったら最初に戻る
				reverseDirection: false //最初から順に再生
			},
			pagination: {
				el: '.swiper-pagination',
				type: 'bullets',
				clickable: true
			}
	    });
	</script>


	<h2>New Post</h2>
	<%= render 'public/posts/index', posts: @new_posts %>

	<h2>Popular Post</h2>
	<%= render 'public/posts/index', posts: @liked_posts %>



