<h1>ジャンル編集</h1>
<%= form_for(@genre, url: admin_genre_path(@genre)) do |f| %>
<%= render 'layouts/error_messages', resource: @genre %>
	<%= f.label :ジャンル名 %>
	<%= f.text_field :name %>
	<%= f.submit '変更する', class: "btn btn-primary btn-sm" %>
<% end %>