<h3>ジャンル一覧</h3>
<div class="col-xs-5">
	<table>
		<% @genres.each do |genre| %>
		<tbody>
			<tr>
				<td>・<%= genre.name %></td>
				<td><%= link_to '編集する', edit_admin_genre_path(genre) %></td>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>


<div class="col-xs-7">
	<h4>ご利用方法</h4>

	<p>・新たにジャンルを作成する場合<br>　→　下記フォームより登録ください。</p>
	<p>・エリア名を変更する場合<br>　→　左の一覧にある各ジャンル名をクリックし、編集フォームにて変更ください。</p>

	<h3>新規ジャンル登録</h3>
	<%= form_for(@genre, url: admin_genres_path) do |f| %>
	<%= render 'layouts/error_messages', resource: @genre %>
		<%= f.label :ジャンル名 %>
		<%= f.text_field :name %>
		<%= f.submit '保存する'%>
	<% end %>
</div>



