<h3>ジャンル一覧</h3>
<div class="col-xs-5">
	<table>
		<% @genres.each do |genre| %>
		<tbody>
			<tr>
				<td>・<%= genre.name %></td>
				<td><%= link_to '編集する', edit_admin_genre_path(genre) %></td>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>


<div class="col-xs-7">
	<h4>新規ジャンル登録</h4>
	<%= form_for(@genre, url: admin_genres_path) do |f| %>
		<%= f.label :ジャンル名 %>
		<%= f.text_field :name %>
		<%= f.submit '保存する'%>
	<% end %>
</div>



