<div class="col-xs-5">
	<h2>ジャンル一覧</h2>
	<table class="table">
		<thead>
			<tr>
				<td>ジャンル名</td>
				<td>投稿数</td>
				<td></td>
		<% @genres.each do |genre| %>
		<tbody>
			<tr>
				<td><%= link_to genre.name, posts_path(genre_id: genre.id) %></td>
				<td><%= genre.posts.count %></td>
				<td><%= link_to '編集する', edit_admin_genre_path(genre) %></td>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>

<div class="col-xs-7">
	<div class="alert alert-info">
		<h4>《ご利用方法》</h4>
		<p><strong>◎新たにジャンルを作成する場合</strong><br>　→　下記フォームより登録ください。</p>
		<p><strong>◎エリア名を変更する場合</strong><br>　→　左の一覧にある各ジャンル名の編集フォームにて変更ください。</p>
	</div>

	<h3>新規ジャンル登録</h3>
	<%= form_for(@genre, url: admin_genres_path) do |f| %>
	<%= render 'layouts/error_messages', resource: @genre %>
		<%= f.label :ジャンル名 %>
		<%= f.text_field :name %>　
		<%= f.submit '新たにジャンルを登録する', class: "btn btn-primary btn-sm"%>
	<% end %>
</div>



