<% if user_signed_in? %>
    <% if post.favorited_by?(current_user) %>
        <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
        <span class="glyphicon glyphicon-heart"></span>
        <% end %>
    <% else %>
        <%= link_to post_favorites_path(post), method: :post, remote: true do %>
        <span class="glyphicon glyphicon-heart-empty"></span>
        <% end %>
    <% end %>
     <span><%= post.favorites.count %></span>
     <span><i class="far fa-comment-dots fa-lg"></i><%= post.post_comments.count %></span>
<% else %>
    <span class="glyphicon glyphicon-heart"><%= post.favorites.count %></span>
    <span><i class="far fa-comment-dots fa-lg"></i><%= post.post_comments.count %></span>
<% end %>



