<h2>問い合わせ一覧</h2>
  <p>ご利用方法<br>
    ユーザーが送信した問い合わせ一覧が表示されています。<br>
    回答ステータスを確認し、返信ボタンより回答を送信ください</p>

  <table>
    <thead>
      <tr>
        <th>問い合わせNo.</th>
        <th>ユーザー名</th>
        <th>問い合わせタイトル</th>
        <th>受信日</th>
        <th>回答ステータス</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% user.contacts.each do |contact| %>
          <tr>
            <td><%= contact.id %></td>
            <td><%= contact.user.name %></td>
            <td><%= contact.title %></td>
            <td><%= contact.created_at.strftime("%Y年%m月%d日 ") %></td>
            <td>
              <% if contact.reply.nil? %>
                未回答
              <% else %>
                 回答済
              <% end %>
            </td>

            <td><%= link_to "返信", edit_admin_contact_path(contact) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  




