<h2>問い合わせ一覧</h2>

  <p>ご利用方法<br>
    ユーザーが送信した問い合わせ一覧が表示されています。<br>
    回答ステータスを確認し、返信ボタンより回答を作成の上、送信ください。</p>

  <table class="table">
    <thead>
      <tr>
        <th>受信日</th>
        <th>問い合わせNo.</th>
        <th>ユーザー名</th>
        <th>問い合わせタイトル</th>
        <th>回答ステータス</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.created_at.strftime("%Y年%m月%d日 ") %></td>
          <td><%= contact.id %></td>
          <td><%= contact.user.name %></td>
          <td><%= contact.title %></td>
          <td>
            <% if contact.reply.nil? %>
              未回答
            <% else %>
               回答済
            <% end %>
          </td>

          <td><%= link_to "返信する", edit_admin_contact_path(contact), class: "btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
      <%= paginate @contacts %>
    </tbody>
  </table>

  




