<div class="col-xs-12">
	<%= form_for(@new_area, url: admin_areas_path) do |f| %>
		<%= f.label :エリア名 %>
		<%= f.text_field :name %>
		<%= f.submit '保存する'%>
	<% end %>
</div>

<div class ="col-xs-12">
	<h1>エリア別都道府県一覧</h1>
	<% @areas.each do |area| %>
		<p><%= area.name %> ：
			<% area.prefectures.each do |prefecture| %>
				<%= link_to prefecture.name, edit_admin_prefecture_path(prefecture) %>
			<% end %>
		</p>
	<% end %>
</div>
