<div class="col-xs-12">
	<%= form_for(@area, url: admin_areas_path) do |f| %>
		<%= f.label :エリア名 %>
		<%= f.text_field :name %>
		<%= f.submit '保存する'%>
	<% end %>
</div>

<table class="col-xs-12">
	<h1>エリア一覧</h1>
	<tbody>
		<tr>
			<td>
				<% @areas.each do |area| %>
				<%= link_to area.name, admin_area_path(area) %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>

<table class="col-xs-12">
	<h1>都道府県一覧</h1>
	<tbody>
		<tr>
			<td>
				<% @prefectures.each do |prefecture| %>
				<%= link_to prefecture.name, edit_admin_prefecture_path(prefecture) %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>