<div class="col-xs-5">

	<h2>エリア別都道府県一覧</h2>
	<% @areas.each do |area| %>
		<p><%= link_to area.name, edit_admin_area_path(area) %> ：
			<% area.prefectures.each do |prefecture| %>
				<%= link_to prefecture.name, edit_admin_prefecture_path(prefecture) %>
			<% end %>
		</p>
	<% end %>

</div>

<div class="col-xs-7">
	<h3>ご利用方法</h3>

	<p><strong>◎新たにエリアを作成する場合</strong><br>　→　下記フォームより登録ください。</p>
	<p><strong>◎エリア名を変更する場合</strong><br>　
	→　左の一覧にある各エリア名をクリックし、編集フォームにて変更ください。</p>
	<p><strong>◎都道府県のエリア区分を変更する場合</strong><br>　
	→　左の一覧にある各都道府県をクリックし、編集フォームにて変更ください</p>

	<h3>新規エリア登録</h3>
	<%= form_for(@area, url: admin_areas_path) do |f| %>
	<%= render 'layouts/error_messages', resource: @area %>
		<p>
			<%= f.label :エリア名 %>
			<%= f.text_field :name %>　
			<%= f.submit '新たにエリアを登録する', class: "btn btn-primary btn-sm"%></p>
	<% end %>
</div>
