<h2>パスワードをお忘れですか?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
  	<p>登録されたメールアドレスを入力し送信ボタンを押してください。<br>
  	パスワード再設定について登録されたメールアドレスまでお送りいたします</p>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

    <%= f.submit "送信する" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
