<h1><%= attachment_image_tag @user, :image, format: "jpeg", fallback: "no_image.jpg", size:"50x50" %>
	<%= @user.name %>さんの会員ステータスの編集</h1>

<%= form_for(@user, url: admin_user_path(@user)) do |f| %>

<table>
	<tbody>
		<tr>
			<td>ユーザー名</td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td>会員ステータス</td>
			<td><%= f.radio_button :is_active, true %><%= f.label :is_active, "有効", class: "text-active" %></td>
			<td><%= f.radio_button :is_active, false %><%= f.label :is_active, "退会済み", class: "text-invalid" %></td>
		</tr>
		<tr>
			<td><%= f.submit "更新する" %></td>
		</tr>
	</tbody>
</table>
<% end %>


