<h2>会員一覧</h2>
<% if params[:keyword] %>
	<h2><%= @keyword %>の検索結果：<%= @users.count %>件ヒットしました</h2>
<% end %>
<div class="row">
	<div class="col-xs-3">
		<%= form_tag(admin_users_path, method: :get) do %>
            <p><%= text_field_tag :keyword, '', placeholder: "会員を検索", class: "form-control" %></p>

            <p><%= submit_tag '検索', class: "btn btn-primary btn-sm"  %></p>
            <p><%= link_to "全会員表示する", admin_users_path %></p>
        <% end %>
        
	</div>

	<div class="col-xs-9">

		<table class='table'>
		  <thead>
		    <tr>
		    	<th>会員ID</th>
		    	<th>登録日</th>
				<th>アカウント名</th>
				<th>会員ステータス</th>
				<th>投稿数</th>
				<th></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @users.each do |user| %>
		      <tr>
		      	<td><%= user.id %></td>
		      	<td><%= user.created_at.strftime("%Y年%m月%d日 ") %>
		      	<td>
		      		<%= attachment_image_tag user, :image, format: 'jpeg', fallback: "no_image.jpg", size: "30x30" %>
		      		<%= user.name %>
		      	</td>
		        <td>
		        	<% if user.is_active? %>
			        	<span>有効</span>
		        	<% else %>
			        	<span>退会済</span>
			      	<% end %>
			    </td>
			    <td><%= user.posts.count %>
		        <td><%= link_to 'Show', admin_user_path(user) %></td>
		      </tr>
		    <% end %>
		    <%= paginate @users %>
		  </tbody>
		</table>
	</div>
</div>
