<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div>
	<div>
		<span>
			<%= link_to user_path(visitor) do %>
				<%= attachment_image_tag visitor, :image, format: 'jpeg', fallback: "no_image.jpg", size: "20x20" %>
				<%= visitor.name %>
			<% end %>
			さんが

			<% case notification.action
			when 'follow' then %>
				あなたをフォローしました
			<% when 'like' then %>
				<%= link_to 'あなたの投稿', notification.post %>
				にいいねしました
			<% when 'post_comment' then %>
				<%= link_to 'あなたの投稿', notification.post %>
				<% PostComment.find_by(id: notification.post_comment.id)&.comment %>
				にコメントしました
			<% end %>
		</span>
		<span><%= time_ago_in_words(notification.created_at).upcase %>前</span>
	</div>
</div>
