<h3>登録情報の編集</h3>
<p>あなたの一番のおすすめ、紹介文も書いてみましょう！</p>

<%= form_for(@user, url: user_path) do |f| %>
<div class="row">

	<div class="col-xs-5">
		<p>
			<%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg", size:"50x50" %>
		</p>
		<p><%= f.attachment_field :image %></p>
	</div>

	<div class="col-xs-7">
		<p>
			<%= f.label :ユーザー名 %><br>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :おすすめ %><br>
			<%= f.text_field :recommend %>
		</p>
		<p>
			<%= f.label :紹介文 %><br>
			<%= f.text_area :introduction, size: "90x5", placeholder:"（例）訪れてよかった場所、印象に残っている出来事、景色、食べもの、出身地など"  %>
		</p>
		<p>
			<%= f.submit "編集内容を保存する", class: "btn btn-primary" %>
　　　　 </p>
	</div>

</div>
<% end %>

<div>
	<%= link_to "パスワードを変更する", edit_user_registration_path, class: "btn btn-default" %>　
	<%= link_to 'マイページに戻る', user_path(current_user), class: "btn btn-default" %>
</div>



