<!-- SIDEBAR -->
<div>
	<%= render 'layouts/sidebar', {genres: @s_genres, tags: @s_tags, areas: @s_areas} %>
</div>

<h1>Profile</h1>
<div class="row">
	<div class="col-xs-10">
		<p><%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg", size: "30x30" %><%= @user.name %></p>
		<p>Recommend<%= @user.recommend %></p>
		<p>introduction<br><%= @user.introduction %></p>
		<% if @user == current_user %>
			<p>Following：<%= link_to @user.follower.count, user_follows_path(@user) %>
			Follower：<%= link_to @user.followed.count, user_followers_path(@user) %>
			</p>
			<p><%= link_to "お気に入りの投稿" , favorites_path %></p>
			<p><%= link_to "閲覧履歴", history_posts_path %></p>
			<p><%= link_to "Timeline", user_follows_timeline_path(current_user) %></p>
		<% end %>
		<!-- フォロー機能 -->
		<% if user_signed_in? %>
		<p>
			<% if current_user != @user %>
				<% if current_user.following?(@user) %>
		            <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete %>
		        <% else %>
		            <%= link_to 'フォローする', user_relationships_path(@user.id), method: :POST %>
		        <% end %>
		    <% end %>
		</p>
		<% end %>
	</div>

	<div class="col-xs-2">
		<% if @user == current_user %>
			<p><%= link_to "プロフィールを編集する", edit_user_path %></p>
			<p><%= link_to "退会したい", confirm_path %></p>
			<p><%= link_to "問い合わせ履歴", contacts_path %></p>
		<% end %>
	</div>
</div>

<h2>User Post（<%= @user.posts.count %>件）</h2>
<div class="row">
	<% @posts.each do |post| %>
	<div class="col-xs-3">
		<%= link_to post_path(post) do %>
			<%= attachment_image_tag post, :image, format: "jpeg", fallback: "sample.jpg", size:"250x200" %>
		<% end %>
		<p><%= post.title %>
			<span class="favorite-<%= post.id %>"><!-- いいね機能 -->
				<%= render 'public/favorites/favorite', post: post %>
			</span>
		</p>
	</div>
	<% end %>
</div>






