<h1>ユーザー情報</h1>
<div class="row">
	<div class="col-xs-12">
		<p><%= attachment_image_tag @user, :image, :fill, 30, 30, fallback: "no_image.jpg", size: "30x30" %><%= @user.name %></p>
		<p>おすすめ：<%= @user.recommend %></p>
		<p>自己紹介：<%= @user.introduction %></p>

		<% if @user == current_user %>
			<p><%= link_to "お気に入りの投稿" , favorites_path %></p>
			<p>
				<%= link_to "編集する", edit_user_path %>
				<%= link_to "退会したい", confirm_path %>
				<%= link_to "問い合わせ履歴", contacts_path %>
			</p>
			<p>Follows：<%= link_to @user.follower.count, user_follows_path(@user) %>
			Follower：<%= link_to @user.followed.count, user_followers_path(@user) %>
			</p>
		<% end %>
		<!-- フォロー機能 -->
		<% if user_signed_in? %>
		<p>
			<% if current_user != @user %>
				<% if current_user.following?(@user) %>
		            <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete %>
		        <% else %>
		            <%= link_to 'フォローする', user_relationships_path(@user.id), method: :POST %>
		        <% end %>
		    <% end %>
		</p>
		<% end %>
	</div>
</div>

<h2>投稿一覧</h2>
<div class="row">
	<% @posts.each do |post| %>
	<div class="col-xs-4">
		<%= link_to post_path(post) do %>
			<%= attachment_image_tag post, :image, format: "jpeg", fallback: "no-image.jpg", size:"250x200" %>
		<% end %>
		<p><%= post.title %></p>
	</div>
	<% end %>
</div>






