<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a1e5d906c0.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  </head>

  <body>
    <!-- HEADER -->
    <%= render 'layouts/header' %>

    <main>
  
      <div class="container">
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>

    </main>

    <footer class="fixed-bottom">
      <%= link_to new_admin_session_path do %>
        Copyright ©Local Inc. All Rights Reserved.
      <% end %>
    </footer>
  </body>
</html>
